<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目登录页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{static/css/clear.css}">
    <script th:src="@{static/js/jquery-3.6.0.min.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{static/css/demo.css}" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{static/css/component.css}" />
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header" >
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <a th:href="@{demopage}"><h3>登录成功,点击跳转</h3></a>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script th:src="@{static/js/TweenLite.min.js}"></script>
<script th:src="@{static/js/EasePack.min.js}"></script>
<script th:src="@{static/js/rAF.js}"></script>
<script th:src="@{static/js/demo-1.js}"></script>
<div style="text-align:center;"></div>
</body>
</html>