<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加大象</title>
    <link th:href="@{static/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div style="margin: auto">
    <h2>请输入要修改的大象的信息</h2>
    <form method="post" th:action="@{updateelephant}">
        大象姓名：<input name="elephantname" placeholder="大象的姓名">
        大象长度：<input name="elephantlength" placeholder="大象的长度">
        大象高度：<input name="elephantheight" placeholder="大象的高度">
        大象宽度：<input name="elephantwidth" placeholder="大象的宽度">
        大象位置：<input name="elephantlocation" placeholder="大象的位置">
        大象状态：<input name="elephantstatus" placeholder="大象的状态">
        <button type="submit">更新</button>
        <hr>
        <a th:href="demopage">返回首页</a>
    </form>
    <div id="elephantdata">
        <h2>查看修改完毕后数据库中大象的信息</h2>
        <button type="submit" onclick="showtable()">刷新</button>
        <div class="table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>大象姓名</th>
                    <th>大象长度</th>
                    <th>大象高度</th>
                    <th>大象宽度</th>
                </tr>
                </thead>
                <tbody id="showplace">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    function showtable(){
        $.ajax({
            type:"post",
            url:"checkelephant",
            dataType:"json",
            data:{},
            async:false,
            contentType:"application/json",
            success:function (data)
            {
                var str = "";
                for (var i=0;i<data.length;i++){
                    var temp=data[i];
                    temp=JSON.stringify(temp);
                    temp=String(temp);
                    temp = eval('(' + temp + ')');
                    str=str+"<tr>" +
                        "<td>"+(i+1)+"</td>" +
                        "<td>"+temp.name+"</td>" +
                        "<td>"+temp.length+"</td>"+
                        "<td>"+temp.height+"</td>"+
                        "<td>"+temp.width+"</td>" +
                        "</tr>"
                }
                if(!str){
                    str=str+"<tr>" +
                        "<td>"+(i+1)+"</td>" +
                        "<td>"+null+"</td>" +
                        "<td>"+null+"</td>"+
                        "<td>"+null+"</td>"+
                        "<td>"+null+"</td>" +
                        "</tr>"
                }
                document.getElementById("showplace").innerHTML= str;
            }
        });
    }
</script>
<script th:src="@{static/js/jquery-3.6.0.min.js}"></script>
</html>